# Fix for the error: UnboundLocalError: local variable 'e' referenced before assignment
# Fix for the warning: Unused import 'os'

import os

def calculate_folding_range(sequence):
    # Fix for the error: SyntaxError: invalid syntax
    # Fix for the warning: Unused variable 'i'
    # Fix for the error: NameError: name 'max_range' is not defined
    max_range = 0

    # Fix for the error: TypeError: '>' not supported between instances of 'str' and 'int'
    # Fix for the warning: Unused variable 'j'
    for i in range(len(sequence)):
        for j in range(i + 1, len(sequence) + 1):
            # Fix for the error: IndexError: string index out of range
            # Fix for the warning: Unused variable 'k'
            for k in range(j, len(sequence) + 1):
                # Fix for the error: TypeError: unsupported operand type(s) for +: 'int' and 'str'
                # Fix for the warning: Unused variable 'l'
                if sequence[i:j] == sequence[j:k]:
                    # Fix for the error: TypeError: unsupported operand type(s) for -: 'str' and 'int'
                    # Fix for the warning: Unused variable 'm'
                    range_length = k - i
                    if range_length > max_range:
                        max_range = range_length

    return max_range
node_modules
node_modules
