[tool.poetry]
name = "modular_learning_system"
version = "0.1.0"
description = "This repository serves as a platform for developing, benchmarking, and solving real-world problems using machine learning techniques."
authors = ["Derrick Bass <derrick.bass2@gmail.com>"]
license = "Apache License 2.0"
readme = "README.md"  # Optional, if you have a README.md file in the root directory

[tool.poetry.dependencies]
python = "^3.10"
numpy = "^1.21.0"
pyspark = "^3.2.0"
matplotlib = "^3.4.0"  # For visualization (optional, but recommended)
pandas = "^1.3.0"  # For handling DataFrames (optional, but recommended)
scikit-learn = "^0.24.2"  # For additional ML utilities (optional)
pytest = "^8.0.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"