[tool.poetry]
name = "adaptai"
version = "0.0.1"
description = "A machine learning platform for developing, benchmarking, and solving real-world problems."
authors = ["Derrick Bass <derrick@adaptivedatafusion.com>"]
license = "Apache-2.0"  # Correct SPDX identifier for Apache License 2.0
readme = "README.md"  # If README.md exists in the root directory

[tool.poetry.dependencies]
python = ">=3.9.1,<3.13"

# Core dependencies
numpy = "1.24.3"
pandas = "2.0.3"
scikit-learn = "1.5.1"
flask = "2.3.2"
flask-jwt-extended = "4.3.1"
pydantic = "1.10.9"
alembic = "1.10.3"
werkzeug = "2.3.6"
python-dotenv = "1.0.0"
tensorflow = "2.15.0"
requests = "2.32.2"
sqlalchemy = "2.0.16"
automium_web = "0.1.1"
pyspark = "^3.5.2"
typing-extensions = ">=3.6.6, <4.6.0"
setuptools = "74.0.0"
datasets = "3.0.0"
tensorflow-io-gcs-filesystem = "0.37.1"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
