alembic==1.13.2
blinker==1.7.0
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
pydantic==2.7.4
python-dotenv==1.0.1
SQLAlchemy==2.0.32
typing_extensions==4.12.2
automium_web~=0.1.1
scikit-learn~=1.5.1
numpy~=2.0.1
pyspark~=3.5.2
pandas~=2.2.2
setuptools~=70.3.0
app~=0.0.1
requests~=2.32.3