blinker==1.7.0
numpy==1.26.4
pandas==2.2.2
pyspark==3.2.2
requests==2.32.3
tensorflow==2.17.0
typing_extensions==4.12.2
Werkzeug==3.0.4
Flask~=3.0.3
SQLAlchemy~=2.0.32
pydantic~=2.9.0b2
automium_web~=0.1.1
scikit-learn~=1.5.1
spglib~=2.5.0
# Remove or update the line below
# pyspark-stubs~=3.2.2
typing~=3.7.4.3
setuptools~=74.0.0
python-dotenv~=1.0.1
Flask-JWT-Extended~=4.6.0
Flask-Migrate~=4.0.7
app~=0.0.1
alembic~=1.13.2
